<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="real-weddings">
        <h2>Our beauticians</h2>
        <div class="wedding-grid">
            <div class="wedding-card">
                <img src="images/image (2).png">
                <div class="wedding-info">
                    <h3>Priya</h3>
                    <h3>4.7/5</h3>
                    <p>Udaipur Palace</p>
                    <span>December 2023</span>
                </div>
                <div class="booking">Book Now</div>
            </div>
            <div class="wedding-card">
                <img src="images/image (3).png">
                <div class="wedding-info">
                    <h3>Anita </h3>
                    <h3>4.8/5 </h3>
                    <p>kerala Resort</p>
                    <span>November 2023</span>
                </div>
                <div class="booking">Book Now</div>
            </div>
            <div class="wedding-card">
                <img src="images/image (4).png">
                <div class="wedding-info">
                    <h3>Arjun </h3>
                    <h3>4.5/5</h3>
                    <p>Erode Backwaters</p>
                    <span>October 2023</span>
                </div>
                <div class="booking">Book Now</div>
            </div>
        </div>
    </section>
</body>
</html>